<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Tenda Helena</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inici</a>
          <a href="{{ path('seccio_afegir') }}" class="nav-link active"> Afegir Seccio </a>
          <a href="{{ path('article_crear') }}" class="nav-link active"> Crear Article </a>

        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('seccio_llistat') }}}" role="button" data-bs-toggle="dropdown">
            Seccions
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('seccio_detall', {'id':seccions.id}) }}">{{ seccions.nom }}</a></li>
        
          </ul>
        </li>
        
      
      </ul>
    </div>
  </div>
</nav>
